/* Background */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e0f2ff, #ffffff);
}

/* Card */
.login-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Icon Top */
.login-icon-wrapper {
  background: #f1f1f1;
  display: inline-block;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.login-icon {
  font-size: 24px;
  color: #444;
}

input[type="text"]{
  padding: 10px 35px !important;
}

/* Titles */
.login-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login-subtext {
  font-size: 13px;
  color: #666;
  margin-bottom: 25px;
}

/* Form */
.login-form {
  text-align: left;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.input-wrapper select {
  width: 100%;
  padding: 10px 40px 10px 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  appearance: none;
  background-color: #fff;
  color: #666;
}
.input-wrapper select option{
  color: #666;
}

.input-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #888;
  margin-right: 30px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #888;
}

/* Forgot password */
.forgot-password {
  text-align: right;
  font-size: 13px;
  color: #3498db;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Button */
.login-button {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Or line */
.login-or {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

/* Social login */
.social-login {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.social-login button {
  background: #f1f1f1;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.switch-link {
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

.register-link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}